<div class="job">
  <%= link_to job["title"], job_path(job["id"]) %></br>
  <%= "#{job["company"]} - #{job["city"]}, #{job["state"]}" %></br>
  <%= "#{Time.at(job["posted"]).strftime("%b %e, %Y")} - #{job["body"]}" %></br>
</div>
